# Environnement virtuel Python
rhodoenv/
.env
*.pyc
__pycache__/

# Dépendances et fichiers générés
*.log
*.db
*.sqlite
*.pkl
*.cache/

# Fichiers spécifiques à VS Code / PyCharm
.vscode/
.idea/
*.iml

# Fichiers liés aux modèles AI
models/
*.ckpt
*.safetensors

# Dossiers de Streamlit
.streamlit/

# Clés SSH ou API (toujours éviter de commit des infos sensibles)
config.yaml
secrets.json

# Autres
*.ini
README.txt